* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: #6200ff 1px solid; */
}

.outside {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  min-height: 100vh;
}

.spinnerWrap {
  z-index: 10;
  top: 42%;
  right: 16%;
  animation: none;
  cursor: pointer;
  /* animation: rotate 0.8s forwards; */
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(70deg);
  }
  40% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(220deg);
  }
  80% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttWrap {
  z-index: 5;
}

.eggWrap {
  z-index: 0;
  cursor: pointer;
  top: 65%;
  right: 10%;
  animation: none;
  display: none;
  width: 60px;
  height: 60px;
  /* animation: eggAnimation 1s forwards; */
}

@keyframes eggAnimation {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 250%);
  }
  100% {
    transform: translate(200%, 250%) rotate(360deg);
  }
}

.bigEgg {
  z-index: 16;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.eggShell {
  width: 600px;
}

.eggRightWrap {
  width: 40%;
  /* animation: right 1s forwards; */
}

.eggLeftWrap {
  width: 40%;
  /* animation: left 1s forwards; */
}

@keyframes right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.hbcard {
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backBtn {
  z-index: 20;
  right: 10%;
  bottom: 10%;
  transition: 1s;
}

.character01,
.character02,
.character11 {
  top: -100%;
  left: 50%;
  z-index: 15;
  transform: translateX(-50%);
  /* animation: down 2s ease-in-out forwards; */
}

@keyframes down {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
